<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>smh home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="home-container">
        <div id="home-sidebar">
            logged in as {{username}}
        </div>
    </div>
</body>
</html>