<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>smh home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="alert-box">
        {{alert}}
    </div>
    <div id="home-container">
        <div id="home-create-post-container">
            <form enctype="multipart/form-data" action="/post" method="post">
                <label for="title">title</label>
                <input type="text" id="title" name="title">
                <br />
                <label for="description">description</label>
                <input type="text" id="description" name="description">
                <br />
                <label for="content">content</label>
                <input type="text" id="content" name="content">
                <br />
                <input type="submit">
            </form>
        </div>
        <div id="home-posts">
            <script></script>
        </div>
    </div>
    <script src="/static/alertsystem.js"></script>
</body>
</html>